.task {
    margin: 8px 0;
    display: flex;
    gap: 10px;
    align-items: flex-start;

    &--text {
        width: 100%;

        &__title {
            color: var(--primal-color);
            font-size: 20px;
        }
        &__description {
            height: 25px;
            color: var(--empty-color);
            font-size: 14px;
        }
        &__input {
            border: none;
            outline: none;
            width: 100%;

            &.desc-input {
                font-size: 14px;
                outline: none;
                color: var(--empty-color);
            }
            &.title-input {
                color: var(--primal-color);
                font-size: 20px;
                outline: none;
            }
        }
    }
}

.checkbox {
    color: var(--empty-color);
    transition: color 0.2s;

    &:hover {
        cursor: pointer;
        color: var(--primal-color);
    }
}
