.task {
    margin: 8px 0;
    display: flex;
    gap: 10px;
    align-items: flex-start;

    &--text {
        width: 100%;
        &__title {
            font-size: 20px;
        }
        &__description {
            color: #8a8a8a90;
            font-size: 14px;
        }
        &__input {
            border: none;
            outline: none;
            width: 100%;

            &.desc-input {
                font-size: 14px;
                outline: none;
            }
            &.title-input {
                font-size: 20px;
                outline: none;
            }
        }
    }
}

.checkbox {
    color: #8a8a8a;
    transition: color 0.2s;

    &:hover {
        cursor: pointer;
        color: black;
    }
}
