.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px 0;

    &__header-title {
        color: var(--primal-color);
        font-size: 18px;
    }
    &__completed-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .clear-all-btn {
            color: var(--primal-color);
            font-size: 18px;
            font-weight: 600;
            transition: color 0.2s;

            &:hover {
                cursor: pointer;
                color: var(--primal-color-hover);
            }
        }
    }
    &__empty {
        color: var(--empty-color);
        font-size: 16px;
        margin: 8px 20px;
    }
}
